<mat-toolbar color="primary">
  <span>Succession Planner</span>
  <a mat-button routerLinkActive="active-route" [routerLink]="['/calendar']" *ngIf="isAuthenticated">Calendar</a>
  <!-- <a mat-button routerLinkActive="active-route" [routerLink]="['/beds']" *ngIf="isAuthenticated">Beds</a> -->
  <a mat-button routerLinkActive="active-route" [routerLink]="['/plants']" *ngIf="isAuthenticated">Plants</a>
  <a mat-button routerLinkActive="active-route" [routerLink]="['/auth']" *ngIf="!isAuthenticated">Authenticate</a>
  <span class="example-spacer"></span>
  <a mat-button (click)="onLogout()" *ngIf="isAuthenticated">Logout</a>
</mat-toolbar>
