<form class="plants-form" [formGroup]="plantForm">
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput type="text" formControlName="name">
    </mat-form-field>
    <button mat-icon-button color="warn" aria-label="Delete" (click)="deletePlant()">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
  <mat-form-field class="plants-field-full-width" appearance="fill">
    <mat-label>Days to Mature</mat-label>
    <input matInput type="number" placeholder="Ex. 60" formControlName="daysToProduction">
    <span matSuffix>days</span>
  </mat-form-field>
  <mat-form-field class="plants-field-full-width" appearance="fill">
    <mat-label>Harvest Type</mat-label>
    <mat-select formControlName="harvestType">
      <mat-option *ngFor="let harvestType of harvestTypes" [value]="harvestType">{{ harvestTypeLabels[harvestType] }}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="plants-field-full-width" appearance="fill" *ngIf="isProducer">
    <mat-label>Months of Production</mat-label>
    <input matInput type="number" placeholder="Ex. 1" formControlName="monthsOfProduction">
    <span matSuffix>months</span>
  </mat-form-field>
  <mat-divider></mat-divider>
</form>
