<div class="container d-flex align-items-center justify-content-center">
<div class="container">
  <div class="dropdown">
    <button class="btn btn-outline-dark btn-lg dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      {{ selectedPlant.name }}
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li class="dropdown-item" *ngFor="let plant of plants" (click)="selectPlant(plant.id)">{{plant.name}}</li>
      <li *ngIf="newPlants.length > 0"><hr class="dropdown-divider"></li>
      <li class="dropdown-item" *ngFor="let plant of newPlants" (click)="selectPlant(plant.id)">{{plant.name}}</li>
    </ul>
  </div>
  <div>
    <label class="col-sm-auto">Color:</label>
    <input [(colorPicker)]="plantColor" [style.background]="plantColor" (colorPickerChange)="colorChanged($event)" style="width: 30px; height: 30px; margin-left: 10px"/>
  </div>
  <div [formGroup]="dataForm">
    <label>Planting Dates:</label>
    <div formArrayName="dates" *ngFor="let date of dateControls; let i = index" style="width: 180px">
      <input type="date" class="form-control" [formControlName]="i"/>
    </div>
    <button class="btn btn-secondary btn-sm" (click)="addDate()">Add Date</button>
    <button class="btn btn-primary btn-sm" (click)="save()">Save</button>
  </div>
</div>
</div>
