<div class="calendar-data-container">
  <form class="calendar-data-form" (ngSubmit)="save()" [formGroup]="dataForm">
    <mat-form-field appearance="fill">
      <mat-label>Plant</mat-label>
      <mat-select formControlName="plant">
        <mat-option *ngFor="let plant of plants" [value]="plant.id">{{ plant.name }}</mat-option>
        <mat-divider></mat-divider>
        <mat-option *ngFor="let plant of newPlants" [value]="plant.id">{{ plant.name }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="color-picker-field">
      <input matInput [ngxMatColorPicker]="picker" formControlName="color">
      <ngx-mat-color-toggle matSuffix [for]="picker"></ngx-mat-color-toggle>
      <ngx-mat-color-picker #picker touchUi="false" color="primary"></ngx-mat-color-picker>
    </mat-form-field>
    <mat-form-field class="planting-date-field" appearance="fill" formArrayName="dates" *ngFor="let date of dateControls; let i = index">
      <mat-label>Planting Date</mat-label>
      <input matInput type="date" [formControlName]="i">
    </mat-form-field>
    <div>
      <button mat-stroked-button type="button" (click)="addDate()">Add Date</button>
      <button mat-stroked-button color="primary" type="submit">Save</button>
    </div>
  </form>
</div>
